@import "../../global.scss";

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;

    h1 {
        font-size: 40px;
        font-weight: 600;


        @include mobile {
            font-size: 20px;
            overflow: hidden;
        }
    }

    .skillsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 60%;
        gap: 40px;



        @include mobile {
            flex-direction: column;
            height: 100%;
        }

        .frontContainer {
            border: 1px solid crimson;
            display: flex;
            width: 35%;
            flex-direction: column;
            height: 90%;
            align-items: center;
            border-radius: 15px;
            cursor: pointer;

            @include mobile {
                width: 70%;
                height: 50%;
            }

            h1 {
                color: $mainColor;
                padding: 20px;
                font-size: 20px;
                overflow: hidden;

                @include mobile {
                    font-size: 14px;
                    padding: 10px;
                    overflow: hidden;
                }



            }




            .itemContainer {
                display: grid;
                grid-template-columns: 1fr 1fr;
                overflow: hidden;
                width: 100%;
                align-items: center;
                justify-items: center;


                .item {
                    display: inline-block;
                    width: 100px;
                    height: 50px;
                    display: flex;
                    align-items: flex-start;
                    gap: 10px;

                    .itemSkills {
                        font-size: 15px;
                        font-weight: 600;

                        @include mobile {
                            font-size: 13px;

                        }

                        span {
                            font-size: 13px;
                            font-weight: 500;
                            color: gray;

                            @include mobile {
                                font-size: 12px;
                                overflow: hidden;
                            }
                        }
                    }

                    .itemIcon {
                        width: 15px;
                        color: rgb(0, 153, 255);

                        @include mobile {
                            width: 14px;
                        }
                    }




                }
            }



        }



    }
}